* { box-sizing:border-box; }

body {
    background: url("pink-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

@font-face{
    font-family: EuropaTextC,serif;
    src: url(../shrifts/11288.ttf);
}


.header{
    font-size: 3vw;
    background: #c9a0dc;
    text-align: center;
    text-transform: uppercase;
    mix-blend-mode: multiply;
    margin: auto;
    width: 35%;
    opacity: 0.5;
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
    font-family: EuropaTextC, cursive;
}

